{% extends 'base.html.twig' %}

{% block title %}Let's add players to the game!{% endblock %}

{% block body %}

    <div class="row mt-3">
        {% if form_errors(game_form) %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(game_form) }}
                </div>
        {% endif %}
        <div class="card col-8">
            <div class="card-body">
                <h3 class="card-title fw-bold">{{ game.name|upper }}</h3>
                <div class="card-text">
                    <h5 class="card-title">Current players</h5>
                    <ul class="list-group">
                        {% if game.players|length > 0 %}
                            {% for player in game.players %}
                                <li class="list-group-item list-group-item-action">{{ player.name }}</li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item" disabled>There are no players yet... Add one!</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="card col-4">
            <div class="card-body">
                <h3 class="card-title">Setup game</h3>

                <div class="card-text">
                    {{ form_start(game_form) }}
                    {{ form_row(game_form.name, {label: 'New Player Name'}) }}
                    <div class="btn-group" role="group">
                    {{ form_widget(game_form.addPlayer, {label: 'Add Player'}) }}
                    {{ form_widget(game_form.startGame, {label: 'Start Game', attr: {class: 'btn-success'}}) }}
                    </div>
                    {{ form_end(game_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

